@import "vars";

@mixin defaultTransition {
  transition: .3s;
}

@mixin headerIcon {
  width: 20px;
  height: 20px;
}

@mixin defaultBgOptions {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin tableColumnWidthsByQty($qty) {
  margin-left: 1%;
  width: calc((100% - #{$checkboxWidth} - #{$thirdColumn}) / #{$qty - 2});
  text-align: center;

  &:first-child {
    margin-left: 0;
    width: $checkboxWidth;
  }

  &:nth-child(3) {
    width: $thirdColumn;
  }
}

@mixin tableRow {
  position: relative;
  display: flex;
  align-items: center;
  padding: $tablePadding;
  height: $tableRowHeight;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 1px;
    background-color: $borderColor;
  }
}

@mixin tableText {
  font-weight: $tableTextWeight;
  font-size: $tableTextSize;
  line-height: $tableLineHeight;
  letter-spacing: $tableLetterSpacing;
  text-align: center;
  color: $greyText;
}
