$greyText: #A1A1AA;
$whiteText: #fff;

$primaryBgColor: #1c1c22;

$borderColor: #414144;
$focusedBorderColor: #78787d;
$emptyBorderColor: #864e4e;

$checkboxWidth: 4%;
$thirdColumn: 10%;
$tablePadding: 0 22px;
$tableRowHeight: 60px;
$tableTextSize: 14px;
$tableTextWeight: 400;
$tableLineHeight: 130%;
$tableLetterSpacing: 0.1px;